on:
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  homebrew:
    name: Release Zed Extension
    runs-on: ubuntu-latest
    steps:
      - uses: huacnlee/zed-extension-action@v2
        with:
          extension-name: pollinations-mcp
          # extension-path: extensions/${{ extension-name }}
          push-to: FrancoStino/zed-extensions
        env:
          # the personal access token should have "repo" & "workflow" scopes
          COMMITTER_TOKEN: ${{ secrets.COMMITTER_TOKEN }}
